{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h2>Exploring the Multidisciplinary World of Artificial Intelligence</h2>
        
        <p>
            Welcome to our website dedicated to exploring the fascinating world of artificial intelligence and its many intersecting disciplines. 
            From philosophy to computer science, psychology to economics, and beyond, our goal is to provide a platform for researchers and enthusiasts alike to explore the myriad of pathways that converge within the field of AI.
        </p>
        <p>
            As AI continues to shape the world we live in, it is becoming increasingly important to understand the various disciplines that inform its development and implementation. 
            From understanding the philosophical implications of AI to delving into the latest advances in computer science, there is no shortage of topics to explore.
        </p>
        <p>
            Our website is designed to be a hub for anyone interested in the field of AI, bringing together the best insights from a variety of disciplines to help guide researchers and enthusiasts alike. 
            Whether you are a seasoned expert or just beginning to explore the world of AI, we hope that our website will provide you with the resources and inspiration you need to continue on your journey of discovery.
        </p>
        <p>
            Embark on your journey into the fascinating world of AI by clicking <a href="{% url 'discipline_detail' parent_discipline.slug %}">here</a>
        </p>
    </div>
{% endblock %}

