{% extends 'base.html' %}

{% block title %}{{ discipline.title }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="person-detail">
            <h1>{{ person.first_name }} {{ person.last_name }}</h1>
            <hr>
            <h3>Short Bio</h3>
            <p>{{ person.bio }}</p>
            
            <h3>External Links</h3>
            <ul>
                {% if person.scholar_link %}
                    <li><a href="{{ person.scholar_link }}" target="_blank">Google Scholar Profile</a></li>
                {% endif %}
                {% if person.wikipedia_link %}
                    <li><a href="{{ person.wikipedia_link }}" target="_blank">Wikipedia Page</a></li>
                {% endif %}
            </ul>
            
            <h3>Videos</h3>
            <div class="videos">
                <!-- Display videos, either as embedded YouTube videos or as links -->
            </div>
            
            <h3>Major Works</h3>
            <ul class="major-works">
                <!-- List major works -->
            </ul>
        </div>
    </div>

{% endblock %}