{% extends 'base.html' %}

{% block title %}{{ discipline.title }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="person-detail">
            
            {% if not person.bio.all %} 
                <h2>{{ person.first_name }} {{ person.last_name }}</h2>
            {% endif %} 
            <p>{{ person.bio|safe }}</p>
            
            {% if person.scholar_link %}
            <h3>External Links</h3>
            <ul>
                {% if person.scholar_link %}
                    <li><a href="{{ person.scholar_link }}" target="_blank">Google Scholar Profile</a></li>
                {% endif %}
                {% if person.wikipedia_link %}
                    <li><a href="{{ person.wikipedia_link }}" target="_blank">Wikipedia Page</a></li>
                {% endif %}
            </ul>
            {% endif %} 
            
            {% if person.videos.all %}
            <h3>Videos</h3>
            <div class="videos">
                <ul>
                    {% for video in person.videos.all %}
                    <li>
                        <h3>{{ video.title }}</h3>
                        <a href="{{ video.link }}" target="_blank">{{ video.title }}</a>
                        <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <p>{{ video.body }}</p>
                    </li>
                    {% endfor %}
                </ul>
                
            </div>
            {% endif %}


            {% if works %}
            <h3>Major Works</h3>
            <ul class="major-works">
                {% for work in works %}
                <li> 
                    <h4>{{ work.title }} </h4>
                    <p>{{ work.summary }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %} 
        </div>
    </div>

{% endblock %}